/*
* IMPORTS
*/


/*
* KEYFRAMES / ANIMATIONS
*/

@keyframes colorChange {
  0% {  
    color: lightsalmon;
    text-shadow: 
    2px -2px 0 lightsalmon, 
    -2px 2px 2px gold, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }

  18% {  
    color: palevioletred;
    text-shadow: 
    2px -2px 0 palevioletred, 
    -2px 2px 2px lightsalmon, 
    -4px 4px 2px gold,
    -6px 6px 2px yellow, 
    -8px 8px 2px green;
    /* -10px 20px 2px lightblue;  */
  }

  36% {  
    color: lightblue;
    text-shadow: 
    2px -2px 0 lightblue, 
    -2px 2px 2px palevioletred, 
    -4px 4px 2px lightsalmon,
    -6px 6px 2px gold, 
    -8px 8px 2px yellow; 
    /* -10px 20px 2px green;  */
  }

  54% {  
    color: green;
    text-shadow: 
    2px -2px 0 green, 
    -2px 2px 2px lightblue, 
    -4px 4px 2px palevioletred,
    -6px 6px 2px lightsalmon, 
    -8px 8px 2px gold;
    /* -10px 20px 2px yellow;   */
  }
  
  72% {  
    color: yellow;
    text-shadow: 
    2px -2px 0 yellow, 
    -2px 2px 2px green, 
    -4px 4px 2px lightblue,
    -6px 6px 2px palevioletred, 
    -8px 8px 2px lightsalmon;
    /* -10px 20px 2px gold;   */
  }

  90% {  
    color: gold;
    text-shadow: 
    2px -2px 0 gold, 
    -2px 2px 2px yellow, 
    -4px 4px 2px green,
    -6px 6px 2px lightblue, 
    -8px 8px 2px palevioletred;
    /* -10px 20px 2px lightsalmon;     */
  }
  
  100% {  
    color: lightsalmon;
    text-shadow: 
    2px -2px 0 lightsalmon, 
    -2px 2px 2px gold, 
    -4px 4px 2px yellow,
    -6px 6px 2px green, 
    -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }
}
.custom-heading-1 {
  text-align: center;  
  transition: text-shadow 2s;
  text-shadow: 
  1px -1px 0 lightsalmon, 
  -1px 2px 1px gold, 
  -2px 4px 1px yellow,
  -3px 6px 1px green, 
  -4px 8px 1px lightblue, 
  -5px 10px 1px palevioletred; 
  animation: colorChange 3s linear;
}
/*
* Menu System
*/ 

#menuSystemMainOptions {
  position: absolute;
  top: 249.5px;
  left: 14px;
}

#menuSystemMainOptions th{
  width: 192px;
}

.menuTable {
  width: 100px;
  height: 50px;
}

#menuTabOne, #menuTabTwo, #menuTabThree, #menuTabFour {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: black;
}

#menuTabOne {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 #4F2683, inset 0.1em 0.1em 0 0 rgb(172, 5, 5);
}

#menuTabTwo {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(38, 112, 131), inset 0.1em 0.1em 0 0 #4F2683;
}

#menuTabThree {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(45, 129, 37), inset 0.1em 0.1em 0 0 rgb(38, 112, 131);  
}

#menuTabFour {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0  rgb(172, 5, 5), inset 0.1em 0.1em 0 0 rgb(45, 129, 37);  
}

#menuSystemOne, #menuSystemTwo {
  width: 387px;
  height: 291px;
  position: absolute;
  top: 306px;
  left: 11px;
  display: none;
}

#menuSystemThree, #menuSystemFour {
  width: 386px;
  height: 291px;
  position: absolute;
  top: 306px;
  left: 409px;
  display: none;
}

#menuSystemOne {
  border-top: 4px solid rgb(47, 20, 202);
  border-bottom: 4px solid rgb(47, 20, 202);
  border-left: 5px solid rgb(47, 20, 202);
  border-right: 5px solid rgb(47, 20, 202);
  transition: 1s;
}

.menuSelected {
  background-color: grey;
}

#menuSystemTwo {
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
  display: none;
  /* background-image: url('../images/space-ui-background-red.png'); */
}

#menuSystemThree {
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  border-left: 5px solid green;
  border-right: 5px solid green;
  display: none;
  /* background-image: url('../images/space-ui-background-green.png'); */
}

#menuSystemFour {
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  border-left: 5px solid purple;
  border-right: 5px solid purple;
  display: none;
  /* background-image: url('../images/seamless-abstract-nebula.jpg'); */
}


#mainBackgroundArea {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: -1;
}